.sidebar
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 72px;
  top: 50px;
  z-index: 200;
  background-color: white;
  padding-top: 19px;
  cursor: pointer;
  
}
.sidebar-link
{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  
}
.sidebar-link:hover{
  background-color: rgb(  235,235,235);
}
.sidebar-link img{
  height: 30px;
  margin-bottom: 4px;
}
.sidebar-link div{
 font-size: 10px;
 font-family: Roboto,Arial;
}
